$Cyan: hsl(179, 62%, 43%);
$BrightYellow: hsl(71, 73%, 54%);
$LightGray: hsl(204, 43%, 93%);
$GrayishBlue: hsl(218, 22%, 67%);

html,body {
	font-family: 'Karla', sans-serif;
	background-color: $LightGray;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
main {
	min-height: 96vh;
	display: flex;
	align-items: center;
	section {
		margin: 0 auto;
		background-color: #fff;
		max-width: 800px;
		width: 800px;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 10px 15px 20px rgba(#000,.05);
		h1 {
			margin: 40px 0 0 40px;
			color: $Cyan;
			font-weight: 700;
			font-size: 1.75rem;
		}
		article {
			padding: 40px;
		}
		.second-row {
			display: flex;
			flex-direction: row;
			color: #fff;
		}
		.full-article {
			padding-top: 10px;
			h2 {
				color: $BrightYellow;
			}
			p {
				opacity: .5;
			}
		}
		.left-article, .right-article {
			flex-grow: 1;
			color : $LightGray;
		}
		.left-article {
			background-color: $Cyan;
			p{ font-weight: 400; }
			.offer {
				line-height: 30px;
				height: 30px;
				span {
					vertical-align: middle;
					opacity: .7;
				}
				span.dollar {
					opacity: 1;
					font-size: 30px;
					font-weight: 700;
				}
			}
			button {
				max-width: 100%;
				width: 100%;
				margin-top: 20px;
				padding: 15px 0;
				background-color: $BrightYellow;
				color: $LightGray;
				font-weight: 700;
				border: none;
				border-radius: 5px;
				font-family: 'Karla', sans-serif;
				font-size: 1rem;
				cursor: pointer;
				box-shadow: 0 10px 10px 5px rgba(#000,.15);
			}
		}
		.right-article {
			background-color: rgba($Cyan,.85);
			ul {
				list-style-type: none;
				opacity: .7;
				padding: 0;
				li {
					margin-top: 2px;
				}
			}
			
		}
	}

}

@media screen and (max-width: 900px) {
	main { 
		section {
			max-width: 620px;
				.second-row {
						flex-direction: column;
					}
			}
		}
}

@media screen and (max-width: 660px) {
	main > section {
		max-width: 310px;
	}
}
